html {
  font-size: 10px;
  background-color: #ffffff;
}

body {
  margin: 0;
}

#main {
  color: #f3eae3;
  margin: 0;
  background-color: #e2deca;
  border-radius: 15px;
}

.header{
  text-align: center;
  margin: 0;
  padding-top: 50px;
  background-color: #1e1e1e;
  padding-bottom: 50px;
}

#title {
  width: 70%;
  margin: 0 auto;
  opacity: 0;
  animation: slideDown 1s ease-out forwards;
} 

@media (max-width: 700px) {
  #title {
    width: 90%;
  }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

h1 {
  font-family: Georgia, sans serif;
  color: #f3eae3;
  letter-spacing: 1rem;
  font-size: clamp(20px,8vw,60px);
}

#img-div {
  width: 92%;
  margin: 0 auto;
  padding: 1.5vw;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 5px 15px;
  box-sizing: border-box;
  display: block;
}

@media (max-width: 700px) {
  img {
  padding:5px 5px;
}
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(100px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}


#subtitle {
  font-size: clamp(5px,1.8vw,30px);
  margin-top: 20px;
  opacity: 0;
  animation: slideup 1s ease-out forwards;
}



#img-caption {
  margin-top: 15px;
  color: #f3eae3;
  font-size: clamp(7px,3vw,25px);
}

#tribute-info {
  font-family: verdana;
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;
  font-size: 2.2vw;
  text-align: justify;
  color: #1e1e1e;
}

@media (max-width: 700px) {
  #tribute-info {
    width: 90%;
  }
}

#footer {
margin: 0 auto;
color: #f3eae3;
font-family: verdana;
width: 100%;
font-size: 2vw;
text-align: center;
padding-top: 7vw;
padding-bottom: 7vw;
background-color: #1e1e1e;

}

#tribute-link {
  color: #f3eae3;
}